    /* Стили для страницы */
    body {
        font-family: Arial, sans-serif;
        background-color: rgb(240, 240, 240); 
        margin: 0;
        padding: 0;
    }

    /* Стили для заголовка */
    header {
        background-color: #c9b09d; /* Более тёмный кремовый цвет */
        color: #fff;
        text-align: center;
        padding: 10px;
        display: flex;
        align-items: center;
        height: 50px; /* Увеличиваем высоту верхней полоски */
        position: fixed; /* Фиксируем верхнюю полоску */
        top: 0; /* Закрепляем верхнюю полоску наверху */
        left: 0;
        right: 0;
        z-index: 999; /* Устанавливаем высший z-index, чтобы верхняя полоска была поверх других элементов */
        transition: background-color 0.3s; /* Добавляем плавное изменение цвета фона */
    }


    .logo {
        width: 100px; /* Устанавливаем ширину логотипа в 10 пикселей */
        height: 60px; /* Устанавливаем высоту логотипа в 10 пикселей */
        margin-left: 10px; /* Добавляем отступ слева от логотипа */
        margin-right: 20px;
    }

    .header-title {
        flex-grow: 1; /* Расширяем контейнер с текстом, чтобы он занимал доступное пространство */
        text-align: right; /* Выравниваем текст справа */
        margin-right: 10px; /* Добавляем отступ справа от текста */
    }

    html, body {
        height: 100%;
    }
      
    .footer {
        background-color: #c9b09d;
        height: 50px;
        bottom: 0; /* Закрепляем нижнюю полосу внизу */
        left: 0;
        right: 0;
        z-index: 999;
        transition: background-color 0.3s;
    }
    
    /* Стили для контейнера с карточками */
    .container {
        background-color: rgb(240, 240, 240);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 20px;
        margin-top: 17px; /* Добавляем отступ сверху, чтобы контейнер не перекрывал верхнюю полоску */
        min-height: calc(100% - 107px); /* Subtract the header and footer heights */
    }

    body.scrolled header {
        background-color: rgba(17, 155, 5, 1); /* Цвет фона при прокрутке вниз */
    }

    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; /* Отступ сверху для полосы поиска */
    }

    #search-input {
        width: 300px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-right: 10px;
    }

    #search-button {
        background-color: #a1836d;
        color: #fff;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #search-button:hover {
        background-color: #8c6c57; /* Изменение цвета кнопки при наведении */
    }  

    /* Стили для карточки */
    .card {
        display: flex; /* Используем Flexbox */
        background-color: rgb(255, 255, 255);
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        max-width: 1150px;
        flex: 1; /* Распределение карточек по ширине */
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out; /* Анимация увеличения */
    }

    .card:hover {
        transform: scale(1.02); /* Увеличиваем карточку при наведении на неё */
    }

    .card img {
        width: 300px;
        max-width: 100%;
        height: auto;
        flex-shrink: 0; /* Запрещаем картинке уменьшаться при недостатке места */
    }

    .card-body {
        display: flex;
        flex-direction: column; /* Контейнер с текстом и кнопками будет вертикальным */
        flex-grow: 1; /* Растягиваем контейнер с текстом, чтобы занимал доступное пространство */
        padding: 20px;
    }

    .card-title {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .card-text {
        font-size: 1rem;
        color: #555;
    }

    .card-button {
        display: flex;
        flex-direction: column; /* Размещаем кнопки вертикально */
        justify-content: center; /* Выравниваем кнопки по центру по вертикали */
        align-items: center; /* Выравниваем кнопки по центру по горизонтали */
        padding: 15px;
    }

    /* Стили для кнопок */
    .btn {
        width: 100px; /* Фиксированная ширина кнопки */
        height: 20px; /* Фиксированная высота кнопки */
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        cursor: pointer;
        border-radius: 5px;
        justify-content: center; /* Выравниваем текст кнопки по центру по горизонтали */
    }

   /* Для кнопки с классом .btn-primary */
    .btn-primary {
        background-color: #a1836d; /* Более тёмный оттенок кремового цвета */
        color: #fff;
    }

    /* Для кнопки с классом .btn-success */
    .btn-success {
        background-color: #a1836d; /* Более тёмный оттенок кремового цвета */
        color: #fff;
    }

    /* Изменение цвета кнопок при наведении */
    .btn-primary:hover,
    .btn-success:hover {
        background-color: #8c6c57; /* Ещё более тёмный цвет при наведении */
    }
