{% extends 'pages/home.html' %}
{% load static %}
{% block title %}Список заказов{% endblock %}

{% block content %}

<div class="album">
    <div class="container">
        <div class="row">
            <form method="GET" action="{% url 'services' %}">
                <div class="search-bar">
                    <input type="text" name="q" id="search-input" placeholder="Поиск" value="{{search_value}}">
                    <button type="submit" id="search-button">Искать</button>
                </div>
            </form>
        
            {% for model in filtered_data %}    
            <div class="col">
                <div class="card" data-url="https://google.com">
                    <form action="{% url 'update_cards_page' model.bouquet_id %}" method="post">
                        {% csrf_token %}
                        <!-- Add your data fields here, for example: -->
                        <!-- <input type="hidden" name="key" value="value"> -->
                        <button type="submit" class="close-button">✖</button>
                    </form>
                    
                    
                    <img src="{{ model.image_url }}" alt="{{ model.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ model.name }}</h5>
                        <p class="card-text">{{ model.description }}</p>
                        <p class="card-text">Цена: {{ model.price }} рублей</p>
                    </div>
                    <div class="card-button">
                        <a href="{% url 'view_service' model.bouquet_id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

{% endblock %}
