{% extends 'pages/home.html' %}
{% load static %}
{% block title %}{{ modeling.name }}{{ data.id }}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/view_service.css' %}">

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{% static modeling.image_url %}" alt="{{ modeling.name }}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{ modeling.name }}</h5>
                    <p class="card-text">{{ modeling.description }}</p>
                    <p class="card-text">Цена: {{ modeling.price }} рублей</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
